!!! 5
include _includes/mixins
html(lang='en')
  head
    title
      mixin post_title(locals, current.path[current.path.length-1])
    link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.2/normalize.min.css")    
    link(rel="stylesheet" href="/main.css")
    include _shared/analytics
  body
    .container
      header
        h1 
          mixin post_title(locals, current.path[current.path.length-1])                  
        .search
          form(action='http://google.com/cse' )
            input(type='hidden', name='cx', value='012963123305395825585:f_lcpjzw7ke')
            input(type='hidden', name='ie', value='UTF-8')
            input(type='text', name='q')
      .content
        != yield
