doctype html
include _includes/mixins
html(lang='en')
  head
    title= title(current.path)
    link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.2/normalize.min.css")
    link(href='//fonts.googleapis.com/css?family=Quattrocento+Sans:400,400italic,700,700italic|Quattrocento:400,700' rel='stylesheet' type='text/css')
    link(rel="stylesheet" href="/styles.css")
    include _includes/analytics
  body
    .container
      //- include _includes/debug
      header
        nav.primary
          .search
            form(action='http://google.com/cse' )
              input(type='hidden', name='cx', value='012963123305395825585:f_lcpjzw7ke')
              input(type='hidden', name='ie', value='UTF-8')
              input(type='text', name='q' placeholder="search")
          mixin nav([])
        if index(current.path.slice(0,1))['_data']
          nav.section
            mixin nav(current.path.slice(0,1))
      .content
        != yield
