doctype html
include _includes/mixins
- var currentPost = getCurrentPost()
html(lang='en')
  head
    title= title(currentPost)
    link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.2/normalize.min.css")
    link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css")
    link(href='//fonts.googleapis.com/css?family=Quattrocento+Sans:400,400italic,700,700italic|Quattrocento:400,700' rel='stylesheet' type='text/css')
    link(rel="stylesheet" href="/styles.css")
    include _includes/analytics
  body
      //- include _includes/debug
      header
        nav.primary
          .brand Lauren Hudgins
          //- .search
          //-   form(action='http://google.com/cse' )
          //-     input(type='hidden', name='cx', value='012963123305395825585:f_lcpjzw7ke')
          //-     input(type='hidden', name='ie', value='UTF-8')
          //-     input(type='text', name='q' placeholder="search")
          +nav([])
          a(href="https://twitter.com/lehudgins" title="Lauren Hudgins on Twitter"): i.fa.fa-twitter
          a(href="https://www.pinterest.com/lehudgins/" title="Lauren Hudgins on Pinterest"): i.fa.fa-pinterest
          a(href="https://plus.google.com/u/0/+LaurenHudgins/posts" title="Lauren Hudgins on Google+"): i.fa.fa-google-plus
          a(href="https://instagram.com/laurenhudgins/" title="Lauren Hudgins on Instagram"): i.fa.fa-instagram
          +link(getPost(['dash']))
            i.fa.fa-keyboard-o
        block section-nav
          if (currentPost.path.length > 0 && childrenOf(currentPost.path.slice(0,1)).length > 0)
            nav.section
              .label In this section:
              +nav(currentPost.path.slice(0,1))
        h1= title(currentPost)
      .content
        block content
          != yield
