include _includes/mixins
- var posts = allPosts([], public);
- var remaining = posts.length;
| callback([
each post in posts
  - remaining--;
  | {
  |   "text": "#{title(post)}",
  |   "href": "#{href(post.path)}"
  if remaining > 0
    | },
  else
    | }
|])
