include _includes/mixins
- var posts = allPosts(public, '/');
- var remaining = Object.keys(posts).length;
| callback([
each val, key in posts
  - remaining--;
  | {
  |   "text": "#{val.title || key}",
  |   "href": "#{key}"
  if remaining > 0
    | },
  else
    | }
|])
