head
  body
  .container
    header
      h1 Fazzle
    .content
      h2 Typography
      h3 The quick brown fox jumped over the lazy dog.
      h4 The quick brown fox jumped over the lazy dog.
      h5 The quick brown fox jumped over the lazy dog.
      p Text! Here is some text. 
      p Tofu iPhone Thundercats bespoke Echo Park gluten-free. Twee Schlitz ethical, kogi put a bird on it tilde Thundercats shabby chic Wes Anderson. Schlitz fashion axe dreamcatcher pickled, Kickstarter mixtape ennui fingerstache shabby chic. Fashion axe master cleanse paleo put a bird on it photo booth. Narwhal Tumblr four dollar toast readymade ennui try-hard, 8-bit wayfarers Marfa raw denim. Listicle keffiyeh tattooed meh, stumptown mustache lo-fi +1 plaid letterpress keytar Thundercats. Retro post-ironic fanny pack meggings.
