h2 Typography
h3 The quick brown fox jumped over the lazy dog.
h4 The quick brown fox jumped over the lazy dog.
h5 The quick brown fox jumped over the lazy dog.
p Text! Here is some text. 
p Tofu iPhone Thundercats bespoke Echo Park gluten-free. Twee Schlitz ethical, kogi put a bird on it tilde Thundercats shabby chic Wes Anderson. Schlitz fashion axe dreamcatcher pickled, Kickstarter mixtape ennui fingerstache shabby chic. Fashion axe master cleanse paleo put a bird on it photo booth. Narwhal Tumblr four dollar toast readymade ennui try-hard, 8-bit wayfarers Marfa raw denim. Listicle keffiyeh tattooed meh, stumptown mustache lo-fi +1 plaid letterpress keytar Thundercats. Retro post-ironic fanny pack meggings.

h2 Colors

.media-grid.swatches
  .media-item
    .swatch.dusk
    p: strong dusk
  .media-item
    .swatch.maroon
    p: strong maroon
  .media-item
    .swatch.pale
    p: strong pale
  .media-item
    .swatch.light-plum
    p: strong light-plum
  .media-item
    .swatch.color4
    p: strong color4
  .media-item
    .swatch.color5
    p: strong color5
  .media-item
    .swatch.peach
    p: strong peach
  .media-item
    .swatch.fuchia
    p: strong fuchia
  .media-item
    .swatch.green
    p: strong green
  .media-item
    .swatch.black
    p: strong black



h2 Wells
.well
  h3 help! 
  p i'm in this great giant well!

h2 Image placements
img(src="/media/ErnstStavroBlofeld.jpg")
img(src="/media/angrykidney.jpg")
