// colors

@dusk: #5C6063;
@maroon: #9E5F68;
@pale: #EFDCD3;
@color4: #6B575E;
@color5: #AA979E;
@light-plum: #A2727C;
@peach: #FED5CC;
@color8: #E4A196;
@fuchia: #B9006E;
@green: #0D7D86;

@brand-primary: @light-plum;
@brand-accent: @fuchia;
/* @brand-primary: @green; */
@white: lighten(@pale, 8%);
@black: darken(@green, 8%);

// Styleguide


.swatch {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.dusk {
  background: @dusk;
}
.maroon {
  background: @maroon;
}
.pale {
  background: @pale;
}
.light-plum {
  background: @light-plum;
}
.color4 {
  background: @color4;
}
.color5 {
  background: @color5;
}
.peach {
  background: @peach;
}
.green {
  background: @green;
}
.fuchia {
  background: @fuchia;
}
.green {
  background: @green;
}
.black {
  background: @black;
}

.sans() {
  font-family: 'Quattrocento Sans', sans-serif;  
}
.serif() {
  font-family: "Quattrocento" serif;
}

// document

body{
  .sans;
  padding: 0 20px 0;
  margin: 0;
  color: @black;
  background-color: @white;
}

h1, h2, h3, h4, h5 {
  .serif;
}

h1{
  color: @dusk;
  font-weight: normal;
  border-bottom: 2px solid @peach;
  text-align: center;
  font-size: 65px;
  line-height: 1.2em;
  padding: 20px 0;
}

h2 {
  color: @brand-accent;
}

h3 {
  color: @maroon;
}

h4 {
  color: @green;
}

a.active {
  background: @pale;
}

nav {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  margin-bottom: 10px;
  // line-height: 1.2em;
  // .serif;
  border-bottom: 1px solid @peach;
  font-size: 1.5em;
  &.section {
    font-size: 1.2em;
    
  }
  > a {
    padding: 10px;
    text-decoration: none;
  }
  .search {
    padding: 5px;
    input {
      padding: 5px;
      width: 7em;
    }
  }
}

input {
  border: 0;
  appearance: none;
  border-radius: 5px;  
  box-shadow: 0 1px 5px rgba(0,0,0,0.2) inset;
  &:focus {
    outline: none;
    box-shadow: 0 -1px 1px rgba(255,255,255,0.25), 0 1px 5px rgba(0,0,0,0.15);
  }
}

.content {
  padding: 0 20px 0;
}

.media-grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.media-item {
  // border: 1px dotted @black;
  padding: 10px;
  text-align: center;
}
