include mixins

mixin printVal(val)
  pre= JSON.stringify(val, null, 2)

script.
  var showDebug = function(){
    document.getElementById('debug').style.display = 'block';
    return false;
  }
a(href="#", onclick="showDebug()") open debug panel
.well#debug(style="display:none;")
  h4 globals
  pre= JSON.stringify(locals, null, 2)
  h4 current
  pre= JSON.stringify(current, null, 2)
  - post = getCurrentPost()
  h4 slug
  +printVal(slug(post.path))
  h4 subtree
  +printVal(subtree(post.path))
  h4 post
  +printVal(post)
  h4 active
  +printVal(active(post.path))
  h4 title
  +printVal(title(post))
  h4 link
  +link(post)
  h4 editURL
  +printVal(editURL(post.path))
