- function merge(a,b,pre){for (var f in b) { a[f] = b[f]}; return a}
- function prefix(a,pre){
  - var r={};
  - for (var f in a) {
    - if (a[f]['index'] === false) continue;
    - if (f == 'index') {
      - r[pre] = a[f];
    - } else r[pre+f] = a[f];
  - }
  - return r
- }
- function subdirs(b){
  - var r={};
  - for (var i in b) {
    - if (i !== '_data' && i !== '_contents') r[i]=b[i];
  - };
  - return r;
- }
- function all_posts(b,pre){
  - var r=prefix(b._data,pre);
  - for(var s in subdirs(b)){
    - merge(r, all_posts(b[s],pre+s+'/'));
  - };
  - return r;
- }
- function href(path){
  - return '/' + normalize(path).join('/')
- }
- function index(path, section){
  - if (section === undefined) section = public;
  - if (path.length == 0) return section;
  - if (!section[path[0]]) return false;
  - return index(path.slice(1), section[path[0]]);
- }

- function post(path){
  - if (path.length > 1) path = normalize(path);
  - var section = index(path.slice(0,-1))
  - return section && section._data && section._data[slug(path)] || {}
- }
- function slug(path) {return path.slice(-1)[0] || ''};
- function slugToTitle(slug) {
  - return slug.replace(/-/g,' ').replace(/([^\W_]+[^\s-]*) */g,function(w){
    - return w.charAt(0).toUpperCase() + w.substr(1);
  - })
- };
- function title(path) {
  - return post(path).title || slugToTitle(slug(path))
- };
- function normalize(path) {
  - return (path.slice(-1)[0] == 'index') ? path.slice(0, -1) : path;
- }
- function active(path) {
  - // current.path starts with path
  - return path.length <= current.path.length && href(current.path.slice(0, path.length)) == href(path);
- }

mixin link(path, icon)
  a(href=href(path) class="post-link"+(active(path)?" active":""))= title(path)

- function excerpt(path) {
  - var content = partial(path.join('/'));
  - if(content.indexOf("<!-- more -->") == -1) return content;
  - else return content.split("<!-- more -->")[0];
- }

- var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
- function format_date(d){
  - var D = new Date(d);
  - return months[D.getMonth()]+' '+D.getDate()+', '+D.getFullYear()
- }

mixin date_label(d)
  if d
    div.date(data-raw=d)= format_date(d)
    | 

mixin post_summary(path)
  .post-summary
    mixin link(path)
    mixin date_label(index(path).date)
    div.excerpt!= excerpt(path)
  
mixin nav(path)
  each post,slug in index(path)['_data']
    if post.index !== false
      mixin link(path.concat(slug))
  
