//- - function memoize = function(){
//-     var self = this, cache = {};
//-     return function( arg ){
//-       if(arg in cache) {
//-         console.log('Cache hit for '+arg);
//-         return cache[arg];
//-       } else {
//-         console.log('Cache miss for '+arg);
//-         return cache[arg] = self( arg );
//-       }
//-     }
//-   }
- function merge(a,b){for (var f in b) { a[f] = b[f]}; return a}

- function allPosts(section,prefix){
  - var r={};
  - for (var slug in section._data) {
    - if (section._data[slug]['index'] === false) continue;
    - if (slug == 'index') {
      - r[prefix] = section._data[slug] } 
    - else r[prefix+slug] = section._data[slug] }
  - for(var key in section){
    - if (key !== '_data' && key !== '_contents') {
      - merge(r, allPosts(section[key],prefix+key+'/')) }}
  - return r }

  - function allPostsArray(section,path){
    - var r=[];
    - for (var slug in section._data) {
      - if (section._data[slug]['index'] === false) continue;
      - if (slug == 'index') {
        - r[path] = section._data[slug] } 
      - else r[path+slug] = section._data[slug] }
    - for(var key in section){
      - if (key !== '_data' && key !== '_contents') {
        - merge(r, allPosts(section[key],path+key+'/')) }}
    - return r }

- function href(path){
  - return '/' + logicalPath(path).join('/') }

- function pathForHref(href){
  - return href.split('/').slice(1) }

- function subtree(path) {
  - var section = public;
  - for (var i = 0; i < path.length; i++) {
    - section = section[path[i]]
    - if (!section) return false }
  - return section }

- function childrenOf(path, section){
  - section = section || subtree(path)
  - var children = []
  - if (section) {
    - var allChildren = section['_data']
    - for (var slug in allChildren) {
      - if (allChildren[slug].index !== false) {
        - allChildren[slug]['path'] = path.concat(slug)
        - children.push(allChildren[slug]) }}}
  - return children }

- function getPost(path){
  - var section = subtree(path.slice(0,-1))
  - var post = section && section._data && section._data[slug(path)] || {}
  - post.path = path
  - return post }

- function logicalPath(path) {
  - if (path.length == 1) return path // can't go up from the top
  - return (path.slice(-1)[0] == 'index') ? path.slice(0, -1) : path }

- function slug(path) {return logicalPath(path).slice(-1)[0] || '' }

- function slugToTitle(slug) { // helper for title()
  - return slug.replace(/-/g,' ').replace(/([^\W_]+[^\s-]*) */g,function(w){
    - return w.charAt(0).toUpperCase() + w.substr(1)
  - })}

- function title(post) { // find a title for {path}
  - return post.title || slugToTitle(slug(post.path)) }

- function active(path) { // is {path} an ancestor of {current.path}?
  - return path.length <= current.path.length && href(current.path.slice(0, path.length)) == href(path) }

- function excerpt(path) {
  - var depth = current.path.length
  - var pathToRoot = Array(depth).join("../");
  - var content = partial(pathToRoot + path.join('/')) || ""
  - if(content.indexOf("<!-- more -->") == -1) return content
  - else return content.split("<!-- more -->")[0] }

- var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
- function format_date(d){
  - var D = new Date(d)
  - return months[D.getMonth()]+' '+D.getDate()+', '+D.getFullYear() }

- function editUrl(path) {
  - var base = "http://prose.io/#prism-house/laurenhudgins.com/edit/master/"
  - return base + path.join('/') + '.md' }

mixin link(post)
  a(href=href(post.path) title=title(post) class="post-link"+(active(post.path)?" active":""))
    if block
      block
    else
      = title(post)

mixin date_label(date)
  if date
    div.date(data-raw=date)= format_date(date)
    | 

mixin post_summary(post)
  .post-summary
    mixin link(post)
    mixin date_label(post.date)
    div.excerpt!= excerpt(post.path)

mixin nav(path)
  each post in childrenOf(path)
    mixin link(post)
