include ../_includes/mixins
.readme
  != partial("../README") || ""
table.posts
  thead
    tr
      td title
      //- td status
      td description
      td edit
  tbody
    each post in allPosts([], public)
      tr
        td
          = title(post)
        td
          a(href=metadataEditURL(post.path))= post.description? "Yes" : "No"
        td
          a(href=editURL(post.path)): i.fa.fa-edit
