include ../_includes/mixins
.readme
  != partial("../README") || ""
table.posts
  tbody
    each post in allPosts([], public)
      tr
        td
          +link(post)
        td
          a(href=editURL(post.path)).plain: span.icon-quill
        td
          a(href=metadataEditURL(post.path)).plain: span.icon-price-tag
