include ../_includes/mixins
.readme
  != partial("../README") || ""
table.posts
  tbody
    each post in allPosts([], public)
      tr
        td
          +link(post)
        td
          +editLink(post.path)
        td
          +metadataEditLink(post.path)
          
